<header class="header">
    <h1>Tourify</h1>
    <div class="header-menu">
        <a href="/">Главная</a>
        <a href="/about">Об авторе</a>
        <a href="/tour-packages" th:if="${#authorization.expression('hasRole(''ROLE_USER'') or hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_AGENT'')')}">Туристические пакеты</a>
        <a href="/bookings" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_AGENT'')')}">Бронирования</a>
        <a href="/bookings/my-bookings" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">Мои бронирования</a>
        <a href="/admin/users" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Управление пользователями</a>
        <a href="/admin/statistics" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Статистика</a>
        <a href="/login" th:if="${#authorization.expression('isAnonymous()')}" role="button">Войти</a>
        <a href="/logout" th:if="${#authorization.expression('isAuthenticated()')}" role="button">Выйти</a>
    </div>
</header>
